{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container p-5"> 
  <h1>Profile Page</h1>
  <a href="{%url 'edit_profile' %}" class="btn btn-warning">Edit your profile</a>
</div>


<div class="d-flex flex-wrap justify-content-center px-5 pt-4 gap-3">
    {% for item in data %}
    <div class="col-sm-3 mb-3 mb-sm-0">
     <div class="card">
       <div class="card-body">
         <h5 class="card-title">{{item.title}}</h5>
         <p class="card-text">{{item.content}}</p>
         <p>Author: {{item.author.first_name}} {{item.author.last_name}}</p>
         <p>Category: {% for p in item.category.all %}
             <button class='btn btn-warning btn-sm m-2'>{{p.name}}</button>
             {% endfor %}</p>
        
         <a href="{% url 'edit_post' item.id %}" class="btn btn-primary">Edit</a>
         <a href="{%url 'delete_post' item.id%}" class="btn btn-danger">Delete</a>
       </div>
     </div>
   </div>
    
    {% endfor %}
   </div>

{% endblock content %}