{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="d-flex flex-wrap container pt-5" >
  <div class="col-6"style="height:59vh">
    <h1>Welcome to Django Blog</h1>
    <h5>
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eveniet cupiditate ullam non esse est cumque officiis deleniti fuga necessitatibus unde ratione consectetur voluptates voluptatibus cum, ducimus rerum voluptate quasi magni? Fugiat voluptatem molestias omnis? Facilis dignissimos numquam ex voluptates soluta pariatur ab, provident sapiente labore iste necessitatibus adipisci magni animi, illo repellat eligendi cupiditate dolores accusamus minima quidem! Magnam reprehenderit eligendi fugiat, autem iusto nostrum dolor officia quam! Incidunt totam optio necessitatibus aliquid dolores voluptate obcaecati suscipit voluptatem non facere, aperiam enim adipisci quisquam est culpa. Ab soluta corrupti enim officiis repudiandae eveniet pariatur laudantium nisi quis. Nesciunt, quidem sint.
    </h5>
  </div>
  <div class="col-6" style="height:50vh">
    <img src="{% static './images/blogs.jpg'%}" style="width:96%;height:55vh">
  </div>
</div>

<div class="d-flex flex-wrap container pt-5">
  <div class="col-2 bg-body-secondary p-3">
    <h4 class="fs-3">Catagories</h4>
    {% for cat in catagories %}
    <div class="form-check">
      <input class="form-check-input" type="radio" name="catagory"id="{{cat.id}}">
      <label class="form-check-label" for="{{cat.id}}">
       <a href="{%url 'catagory_wise_post' cat.slug%}" style="text-decoration:none;color:black;">{{cat}}</a> 
      </label>
    </div>
    {% endfor %}
  </div>
  <div class="col-10 p-3">
    
    <div class="d-flex flex-wrap gap-3">
      <h3 class="container">{{data|length}} result found</h3>
      {% for item in data %}
      <div class="col-sm-3 mb-3 mb-sm-0">
       <div class="card">
         <div class="card-body">
           <h5 class="card-title">{{item.title}}</h5>
           <p class="card-text">{{item.content}}</p>
           <p>Author: {{item.author.first_name}} {{item.author.last_name}}</p>
           <p>Category: {% for p in item.category.all %}
               <button class='btn btn-warning btn-sm m-2'>{{p.name}}</button>
               {% endfor %}</p>
         </div>
       </div>
     </div>
      
      {% endfor %}
     </div>
  </div>
</div>

{% endblock content %}

