{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% csrf_token %}
<table class="table table-bordered container mt-5" method ='POST'>
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Muscian Name</th>
        <th scope="col">Email</th>
        <th scope="col">Album Rating</th>
        <th scope="col">Instrument Type</th>
        <th scope="col">Album Name</th>
        <th scope="col">Release Date</th>
        <th scope="col">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for item in data %}
      <tr>
        <th scope="row">{{item.id}}</th>
        <td>{{item.musician.first_name}} {{item.musician.last_name}} </td>
        <td>{{item.musician.email}}</td>
        <td>{{item.Rating}}</td>
        <td>{{item.musician.Instrument_type}}</td>
        <td>{{item.Album_name}}</td>
        <td>{{item.Album_release_date}}</td>
        <td><a href="{% url 'edit' item.id%}" class='btn btn-primary'>Edit</a>
          <a href="{% url 'delete' item.id%}" class='btn btn-danger'>Delete</a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table> 
{% endblock content %}