{% extends "base.html" %}

{% block content %}

{% load crispy_forms_tags %}

  
<form style="width:50%;margin:auto;margin-top:20px" method ='post'novalidate>
  <h2>Login</h2>
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for er in form.non_field_errors %}
    <p class='bg-danger text-light p-3 rounded-3'>{{er}}</p>
    {% endfor %}
    {% endif %}
         <!--{{form|crispy}}-->
   {% for item in form %}
   {{item.label_tag}}
   {{item}}
    {{item.errors|striptags}}
    <br>    
    {% endfor %}

    <br>
    <button type = 'submit' class='btn btn-warning'>Login</button>
</form>



{% endblock content %}